*, *::before, *::after {
	box-sizing: border-box;
}
html{
    font-size: 100%;
}

body{
    line-height: 1.6;
    overflow-x: hidden;
    font-family: $font_body;
    max-width: 914px;
    margin: 0 auto;
    padding: 0;
    
}

img{
    max-width: 100%;
}

h1, h2, h3, p{
    max-width: 60ch;
}
h2{
    border-bottom-color: #cccccc;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.theme-light{
    background-color: $clr-light;
    color: $clr-dark;
}

.theme-dark{
    background-color: $clr-dark;
    color: $clr-light;
}

// a{
//     text-decoration: none;
//     color: inherit;
//     &:active{
//         opacity: 0.5;
//     }
//     &:hover{
//         opacity: 0.5;
//     }
// }