@import "fonts";
@import "colors";
@import "variables";
@import "functions";
@import "utilities";
@import "resets";
// @import "navigation";

aside{
    display: none;
}

.loading-screen {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    background-color: $clr-light;
    width: 0%;
    height: 100%;
}

.load-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    pointer-events: none;
}

::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: darken($color-dark, 8);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $color-light;
   
    border-radius: 5px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: lighten($color-dark, 15);
  }