:root {
  --clr-primary: #ee6352;
  --clr-secondary: #d16e8d;
  --clr-accent: #F7F7FF;
  --clr-gradient: linear-gradient(-90deg, var(--clr-primary), var(--clr-secondary));
  --ff-title: bungee, sans-serif;
  --ff-body: canada-type-gibson, sans-serif;
  --fw-body: 300;
  --fw-bold: 800;
  --fw-title: 400;
  --fw-number: 800;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-d-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.grid .span-12 {
  grid-column: span 12;
}

.grid .span-6 {
  grid-column: span 6;
}

ul.reset {
  list-style-type: none;
  padding: 0;
  /* margin-left: 0; */
}

.gap-s {
  gap: 1em;
}

.gap-m {
  gap: 2em;
}

.padding-s {
  padding: 1em;
}

.padding-m {
  padding: 2em;
}

.padding-button-s {
  padding: 0.5em 1em;
}

.padding-button-m {
  padding: 1em 2em;
}

@media screen and (max-width: 43em) {
  .hide-for-mobile {
    display: none;
  }
}

@media screen and (max-width: 43em) {
  .hide-under-tablet {
    display: none;
  }
}

@media screen and (min-width: 82em) {
  .hide-for-desktop {
    display: none;
  }
}

.border-b {
  border-bottom: 1px solid #cccccc;
}

.border-t {
  border-top: 1px solid #222;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.no-overflow {
  overflow: hidden;
}

.no-overflow-x {
  overflow-x: hidden;
}

.no-overflow-y {
  overflow-y: hidden;
}

.responsive-width {
  width: clamp(10em, 100%, 60em);
}

.responsive-padding {
  padding: 0 clamp(1em, 10vw, 15em);
}

a.primary, button.primary {
  background-color: var(--color-primary);
  color: var(--color-dark);
  font-weight: bold;
}

a.secondary, button.secondary {
  color: #16498a;
  border: 1px solid #16498a;
}

a.tertiary, button.tertiary {
  color: #16498a;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  line-height: 1.6;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  max-width: 914px;
  margin: 0 auto;
  padding: 0;
}

img {
  max-width: 100%;
}

p {
  max-width: 60ch;
}

h2 {
  border-bottom-color: #cccccc;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.theme-light {
  background-color: #cccccc;
  color: #222;
}

.theme-dark {
  background-color: #222;
  color: #cccccc;
}

a {
  text-decoration: none;
  color: inherit;
}

a:link {
  color: #16498a;
}

a:hover {
  opacity: 0.5;
}

a:active {
  color: #16498a;
}

figure {
  margin: 0;
}

aside {
  display: none;
}

.loading-screen {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background-color: #cccccc;
  width: 0%;
  height: 100%;
}

.load-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0e0e0e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #484848;
}
/*# sourceMappingURL=main.css.map */